.info{
    width: 95%;
    margin: 0.4rem auto;
}

.mat-card-title{
    font-size: 1rem;
    color: rgb(26, 30, 87);
}

.mat-card-subtitle{
    font-size: 0.8rem;
    color: rgb(58, 58, 85);
}

.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.content-title{
    text-align: center;
}

.content-title h1 {
    font-size: 1rem;
    color: rgb(26, 30, 87);
    font-weight: 600;
}

form{
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
}

.form{
    width: 100%;
}

.buttons{
    width: 100%;
    text-align: start;
}

button{
    margin-right: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}