<mat-card class="info nat-elevation-z4">
    <mat-card-title class="title">SISTEMA DE CONTROLE - UNIDADES ADB</mat-card-title>
    <mat-card-subtitle class="subtitle">Nessa tela é possível visualizar as unidades cadastradas.</mat-card-subtitle>
</mat-card>
<div class="content">
    <div class="content-title">
        <h1>Lista de Unidades</h1>
    </div>

    <div class="mat-elevation-z8 content-table">
        <button mat-stroked-button color="primary" class="button" (click)="newUnity()">NOVA UNIDADE</button>
        <table class="table" mat-table [dataSource]="unities">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> NOME </th>
                <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> DESCRIÇÃO </th>
                <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
            </ng-container>

            <!-- Players Column -->
            <ng-container matColumnDef="players">
                <th mat-header-cell *matHeaderCellDef> JOGADORES </th>
                <td mat-cell *matCellDef="let row"> 
                    <a href="#" class="players">
                        <i class="material-icons">star</i> 
                    </a>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="mat-actions"> AÇÕES </th>
                <td mat-cell *matCellDef="let row" > 
                    <a class="edit" routerLink="update/{{ row.id }}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="delete" routerLink="delete/{{ row.id }}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>